.header {
	padding: 25px 0;
}

.navbar-menu a {
	color: #021206;
	opacity: 50%;
	transition: all .3s;
}

.navbar-menu a:hover {
	color: #021206;
	opacity: 100%;
}

.sign-btn {
	height: 57px;
	width: 129px;
	border-radius: 6px;
	background: #F44545;

	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	color: white;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-login {
	display: flex;
	align-items: center;
	color: #021206;
}

.navbar-login a:hover{
	color:black;
}