.hero-area {
	padding: 25px 0;
	display: flex;
	align-items: center;
}

.area-title {
	font-size: 54px;
	font-weight: 600;
	line-height: 81px;
}

.area-title span {
	color: #3EFFC0;

}

.area-text {
	font-size: 21px;
	font-weight: 400;
	line-height: 34px;
}

.area-text span {
	font-size: 21px;
	font-weight: 500;
	line-height: 34px;

}

.area-input {
	padding: 30px 0 35px 0;
}

.area-email {
	position: absolute;

	height: 65px;
	width: 472px;
	border-radius: 6px;
	border: none;

	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	padding-left: 24px;

	filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
}

.area-send-btn {
	position: relative;
	left: 348px;
	top: 6px;
	height: 53px;
	width: 120px;
	border-radius: 6px;
	background-color: #F44545;
	color: #fff;
	font-size: 21px;
	font-weight: 500;
	line-height: 32px;
}
