@import url(./cards.css);
@import url(./companies.css);
@import url(./header.css);
@import url(./hero-area.css);
@import url(./simple-feature.css);

*,
*::before,
*::after {


	border: 0;
	box-sizing: border-box;
}

a,
.nav-link {
	text-decoration: none;
	color: #021206;
}

ul,
ol,
li {
	list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	font-family: 'Poppins';

}

span {
	font-weight: 600;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1350px;
	margin: 0 auto;
}